.h4
{
    margin: 0;
    font-size:14px;
}

#forkme
{
    position: absolute;
    top: 40px;
    right: 0;
    border: 0;    
}

#urlForm { margin-top: 250px; }

#report, #about
{
    margin-top: 100px;
    /*height: 600px;
    overflow: scroll;*/
}

.reportSection
{
    height: 600px;
    overflow: auto;
}

#loader
{
    visibility: hidden;
    margin-top: 12px;
}
    
