.h4
{
    margin: 0;
    font-size:14px;
}

#forkme
{
    position: absolute;
    top: 40px;
    right: 0;
    border: 0;    
}

#header { margin-top: 150px; }

#urlForm {
    margin-top: 100px;
}

#report, #about, #login, #admin
{
    margin-top: 100px;
}

.reportSection
{
    height: 600px;
    overflow-y: scroll;
}

#loader
{
    visibility: hidden;
    margin-top: 12px;
}

#progressDiv {
    margin-left: 30%;
    width: 40%;
    margin-top: 20px;
}

th, td {
    word-wrap: break-word;
    max-width: 150px;
}

.hrule {
    float: none;
}