.h4
{
    margin: 0;
    font-size:14px;
}

#forkme
{
    position: absolute;
    top: 40px;
    right: 0;
    border: 0;    
}

#header { margin-top: 150px; }

#urlForm {
    margin-top: 100px;
}

#report, #about, #login, #admin
{
    padding-top: 100px;
}

.reportSection
{
    height: 600px;
    overflow-y: scroll;
}

#loader
{
    visibility: hidden;
    margin-top: 12px;
}

#progressDiv {
    margin-left: 30%;
    width: 40%;
    margin-top: 20px;
}

th, td {
    word-wrap: break-word;
    max-width: 150px;
}

.hrule {
    float: none;
}

/* See http://twitter.github.com/bootstrap/examples/sticky-footer-navbar.html */

html, body
{
    height: 100%;
}

.wrap
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#footer
{
    height: 60px;
    background-color: #f5f5f5;
}

@media (max-width: 767px)
{
    #footer
    {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}