<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.19" targetFramework="net45" />
  <package id="WebSharper" version="2.5.100.31" targetFramework="net45" />
  <package id="WebSharper.Piglets" version="0.1.69.127" targetFramework="net45" />
</packages>